<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/style/style.css">
    <link rel="stylesheet" href="../../static/style/delete-profile.css">
    
    <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.10.2/css/all.css"/>
    
</head>
<body>
    <header>
        <nav class="nav-bar">
            
            <div><img class="logo" src="../../static/images/Daco_5465362.png" alt="image">
            </div>
            <div class="name">
                Playground
            </div>
            <div class="nav">
                <ul class="links">
                
                    <li><a href="" class="nav-li" action="">Fields</a></li>
                    <li><a href="" class="nav-li" action="">Sports</a></li>
                    <li><a href="" class="nav-li" action="">Login</a></li>
                    <li><a href="" class="nav-li" action="">Profile</a></li>
                    <li><a href="" class="nav-li" action="">Logout</a></li>
                    <li><a href="" class="nav-li" action="">Register</a></li>
                </ul>
                
            </div>
            
        </nav>
        <hr color="black">
    </header>
    
    <main>
        <article class="field">
            <p>
                Are you sure you wand to delete your profile?
            </p>
            <p>
                <button><a href="">Yes</a></button>
                <button><a href="">No</a></button>
            </p>
        </article>
        
    </main>
    
    
    <footer >
        <div class="foot">
            <hr class='down' color="black">
            <div class="mark">
                <div>@Playground - SoftUni Team 2023. All rights reserved.</div>
                <div class="icons">
                    <a class="icon" href="#"><i class="fas fa-phone-alt">+359 99 99 99 99 </i></a>
                    <a class="icon" href="#"><i class="fab fa-twitter-square"></i></a>
                    <a class="icon"href="#"><i class="fab fa-facebook-square"></i></a>
                    <a class="icon" href="#"><i class="fab fa-instagram"></i></a>
                </div>
                
                
            </div>
        </div>
       
        
        
        
    </footer>
</body>
</html>