<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/style/style.css">
    <link rel="stylesheet" href="../../static/style/edit-profile.css">
    
    <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.10.2/css/all.css"/>
    
</head>
<body>
    <header>
        <nav class="nav-bar">
            
            <div><img class="logo" src="../../static/images/Daco_5465362.png" alt="image">
            </div>
            <div class="name">
                Playground
            </div>
            <div class="nav">
                <ul class="links">
                
                    <li><a href="" class="nav-li" action="">Fields</a></li>
                    <li><a href="" class="nav-li" action="">Sports</a></li>
                    <li><a href="" class="nav-li" action="">Login</a></li>
                    <li><a href="" class="nav-li" action="">Profile</a></li>
                    <li><a href="" class="nav-li" action="">Logout</a></li>
                    <li><a href="" class="nav-li" action="">Register</a></li>
                </ul>
                
            </div>
            
        </nav>
        <hr color="black">
    </header>
    
    <main>
        <article class="field">
            <h2>Edit Field</h2>
            <p>First Name <input type="text"></p> 
            <p>Last Name <input type="text"></p>
            <p>Image <input type="url"></p>
            <p> Age: <input type="number" name="" id=""> years</p>
            <p>Phone +359 <input type="number"></p>
            <p>Preferred sport 
                <select name="" id="">
                    <option value="">Select</option>
                    <option value="">Football</option>
                    <option value="">Basketball</option>
                    <option value="">Volleyball</option>
                    <option value="">Tennis</option>
                </select>
            </p>
            <!-- <button><a href="">Details</a></button> -->
            <button><a href="">Save</a></button>
            <!-- <button><a href="">Edit</a></button>
            <button><a href="">Delete</a></button> -->

        </article>
        
    </main>
    
    
    <footer >
        <div class="foot">
            <hr class='down' color="black">
            <div class="mark">
                <div>@Playground - SoftUni Team 2023. All rights reserved.</div>
                <div class="icons">
                    <a class="icon" href="#"><i class="fas fa-phone-alt">+359 99 99 99 99 </i></a>
                    <a class="icon" href="#"><i class="fab fa-twitter-square"></i></a>
                    <a class="icon"href="#"><i class="fab fa-facebook-square"></i></a>
                    <a class="icon" href="#"><i class="fab fa-instagram"></i></a>
                </div>
                
                
            </div>
        </div>
       
        
        
        
    </footer>
</body>
</html>