{% extends 'base.html' %}
{% block content %}
    <main>
        <article class="profile">
            <img class="profile-pic" src="../../static/images/avatar-g2b3603958_1280.png" alt="">
            <h4>Ivan Baraban</h4>
            <p>Email: ivan.baraban@ball.bg</p>
            <p>Age: 39</p>
            <p>Phone: +359 123456789</p>
            <p>Preferred sport: Football</p>
            <p>Company: Field42 Ltd</p>
            
            <button><a href="">Edit</a></button>
            <button><a href="">Delete</a></button>
            <button><a href="">Fields</a></button>


        </article>
        
    </main>
{% endblock %}