<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/style/style.css">
    <link rel="stylesheet" href="../../static/style/add-field.css">
    
    <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.10.2/css/all.css"/>
    
</head>
<body>
    <header>
        <nav class="nav-bar">
            
            <div><img class="logo" src="../../static/images/Daco_5465362.png" alt="image">
            </div>
            <div class="name">
                Playground
            </div>
            <div class="nav">
                <ul class="links">
                
                    <li><a href="" class="nav-li" action="">Fields</a></li>
                    <li><a href="" class="nav-li" action="">Sports</a></li>
                    <li><a href="" class="nav-li" action="">Login</a></li>
                    <li><a href="" class="nav-li" action="">Profile</a></li>
                    <li><a href="" class="nav-li" action="">Logout</a></li>
                    <li><a href="" class="nav-li" action="">Register</a></li>
                </ul>
                
            </div>
            
        </nav>
        <hr color="black">
    </header>
    
    <main>
        <article class="field">
            <h3>Add Field</h3>
            <p>Name <input type="text"></p>
            <p>Image <input type="url"></p>
            <p> Description <textarea name="" id="" cols="30" rows="5"></textarea></p>
            <p>Start Working time 
                <select name="weekday" id="">
                    <option value="">Select Day</option>
                    <option value="">Monday</option>
                    <option value="">Tuesday</option>
                    <option value="">Wednesday</option>
                    <option value="">Thursday</option>
                    <option value="">Friday</option>
                    <option value="">Saturday</option>
                    <option value="">Sunday</option>
                </select>
                <select name="time" id="">
                    <option value="">Select a time</option>
                    <option value="07:00">07:00</option>
                    <option value="08:00">08:00</option>
                    <option value="09:00">09:00</option>
                </select> </p>
            <p>End Working time 
                <select name="weekday" id="">
                    <option value="">Select Day</option>
                    <option value="">Monday</option>
                    <option value="">Tuesday</option>
                    <option value="">Wednesday</option>
                    <option value="">Thursday</option>
                    <option value="">Friday</option>
                    <option value="">Saturday</option>
                    <option value="">Sunday</option>
                </select>
                <select name="time" id="">
                    <option value="">Select a time</option>
                    <option value="20:00">20:00</option>
                    <option value="21:00">21:00</option>
                    <option value="22:00">22:00</option>
                </select> 
            </p>
            <p>Price per hour <input type="number"> $</p>
            <!-- <button><a href="">Details</a></button> -->
            <button><a href="">Save</a></button>
            <!-- <button><a href="">Edit</a></button>
            <button><a href="">Delete</a></button> -->

        </article>
        
    </main>
    
    
    <footer >
        <div class="foot">
            <hr class='down' color="black">
            <div class="mark">
                <div>@Playground - SoftUni Team 2023. All rights reserved.</div>
                <div class="icons">
                    <a class="icon" href="#"><i class="fas fa-phone-alt">+359 99 99 99 99 </i></a>
                    <a class="icon" href="#"><i class="fab fa-twitter-square"></i></a>
                    <a class="icon"href="#"><i class="fab fa-facebook-square"></i></a>
                    <a class="icon" href="#"><i class="fab fa-instagram"></i></a>
                </div>
                
                
            </div>
        </div>
       
        
        
        
    </footer>
</body>
</html>