{% extends 'base.html' %}
{% block content %}
    
    <main>
        <article class="art">
            <img class="field-pic" src="https://cdn.versacourt.com/cmss_files/imagelibrary/board-versacourt-difference.jpg" alt="">
            <h4>Field</h4>
            <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non, debitis! Veritatis dolore nulla suscipit dignissimos quasi qui ad odio iure excepturi dicta? Temporibus quisquam possimus itaque veniam aliquam iure eum.
            </p>
            <h5>Working hours</h5>
            <p>From 7:00 to 22:00 h. </p>
            <!-- <button><a href="">Details</a></button> -->
            <button><a href="">Reservation</a></button>
            <button><a href="">Edit</a></button>
            <button><a href="">Delete</a></button>

        </article>
        
    </main>
    
{% endblock %}