@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+80s+Fade&family=Smooch&display=swap');

.main-profile {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile {
    overflow: hidden;
    width: 500px;
    height: auto;
    background-color: white;
    border-radius: 8px;
    padding: 5px;
    margin: 16px;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    
    
    
   
}
.profile-pic {
    border-radius: 8px;
    /* size: 80%; */
    height: auto;
    width: 500px;

}
button {
    border-radius: 8px;
    background-color: rgb(32, 44, 218);
    color: #ffffff;
    
}

button:hover {
    font-size: 16px;
}
.text {
    display: -webkit-box;
        -webkit-line-clamp: 4; /* Maximum number of lines to show */
        -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px;
}

h3 {
    margin: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500px;
}
a {
    text-decoration: none;
    /*color: white;*/
}