<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style/styles.css">

    <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.10.2/css/all.css"/>

</head>
<body>
    <header class="heading">
        <nav class="nav-bar">

            <div><a href="{% url 'first_page' %}"><img class="logo" src="../static/images/Daco_5465362.png" alt="image"></a>
            </div>
            <div class="name">
                <a class="title" href="{% url 'first_page' %}">Playground</a>

            </div>
            <div class="nav">
                <ul class="links">

                    {% if user.is_authenticated %}

                        <li><a href="{% url 'create-field' %}" class="nav-li" action="">Add Field</a></li>

                        <li><a href="{% url 'fields' %}" class="nav-li" action="">Fields</a></li>
                        <li><a href="" class="nav-li" action="">Profile</a></li>
                        <li><a href="{% url 'logout' %}" class="nav-li" action="">Logout</a></li>


                    {% else %}
                        <li><a href="{% url 'fields' %}" class="nav-li" action="">Fields</a></li>
                        <li><a href="{% url 'login' %}" class="nav-li" action="">Login</a></li>
                        <li><a href="{% url 'register-user' %}" class="nav-li" action="">Register</a></li>

                    {% endif %}


                </ul>

            </div>

        </nav>
        <hr color="black">
    </header>
    {% block content %}

    {% endblock %}
    <footer>
        <div class="foot">
            <hr class='down' color="black">
            <div class="mark">
                <div>@Playground - SoftUni Team 2023. All rights reserved.</div>
                <div class="icons">
                    <a class="icon" href="#"><i class="fas fa-phone-alt">+359 99 99 99 99 </i></a>
                    <a class="icon" href="#"><i class="fab fa-twitter-square"></i></a>
                    <a class="icon"href="#"><i class="fab fa-facebook-square"></i></a>
                    <a class="icon" href="#"><i class="fab fa-instagram"></i></a>
                </div>


            </div>
        </div>




    </footer>
</body>
</html>