<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="stylesheet" href="../static/style/reservation-form.css">
    
    <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.10.2/css/all.css"/>
    
</head>
<body>
    <header>
        <nav class="nav-bar">
            
            <div><img class="logo" src="../static/images/Daco_5465362.png" alt="image">
            </div>
            <div class="name">
                Playground
            </div>
            <div class="nav">
                <ul class="links">
                
                    <li><a href="" class="nav-li" action="">Fields</a></li>
                    <li><a href="" class="nav-li" action="">Sports</a></li>
                    <li><a href="" class="nav-li" action="">Login</a></li>
                    <li><a href="" class="nav-li" action="">Profile</a></li>
                    <li><a href="" class="nav-li" action="">Logout</a></li>
                    <li><a href="" class="nav-li" action="">Register</a></li>
                </ul>
                
            </div>
            
        </nav>
        <hr color="black">
    </header>
    
    <main>
        <article class="art">
            
            <img class="field-pic" src="https://cdn.versacourt.com/cmss_files/imagelibrary/board-versacourt-difference.jpg" alt="">
            <h2>Reservation Form</h2>
            <h4>Street Arena</h4>
            <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non, debitis! Veritatis dolore nulla suscipit dignissimos quasi qui ad odio iure excepturi dicta? Temporibus quisquam possimus itaque veniam aliquam iure eum.
            </p>
            <h5>Working hours</h5>
            <p>From 7:00 to 22:00 h. </p>
            <p>
                <select name="" id="">
                    <option value="">Day</option>
                </select>
                <select name="" id="">
                    <option value="">Month</option>
                </select>
                <select name="" id="">
                    <option value="">Hour</option>
                </select>
            </p>
            <!-- <button><a href="">Details</a></button> -->
            <button><a href="">Save</a></button>
            

        </article>
        
    </main>
    
    
    <footer >
        <div class="foot">
            <hr class='down' color="black">
            <div class="mark">
                <div>@Playground - SoftUni Team 2023. All rights reserved.</div>
                <div class="icons">
                    <a class="icon" href="#"><i class="fas fa-phone-alt">+359 99 99 99 99 </i></a>
                    <a class="icon" href="#"><i class="fab fa-twitter-square"></i></a>
                    <a class="icon"href="#"><i class="fab fa-facebook-square"></i></a>
                    <a class="icon" href="#"><i class="fab fa-instagram"></i></a>
                </div>
                
                
            </div>
        </div>
       
        
        
        
    </footer>
</body>
</html>